[submodule "submodules/UniPath.io"]
	path = submodules/UniPath.io
	url = https://github.com/UMLCloudComputing/UniPath.io
[submodule "submodules/react-mui-resume"]
	path = submodules/react-mui-resume
	url = https://github.com/UMLCloudComputing/react-mui-resume
[submodule "submodules/UniBot"]
	path = submodules/UniBot
	url = https://github.com/UMLCloudComputing/UniBot
