[submodule "rowdybot"]
	path = submodules/rowdybot
	url = git@github.com:UMLCloudComputing/rowdybot.git
[submodule "UniPath.io"]
	path = submodules/UniPath.io
	url = git@github.com:UMLCloudComputing/UniPath.io.git
