## .env.local

## i.e: localhost, dev, prod
ENV="localhost"

## AWS Cognito Region
REGION="us-east-1"

## AWS Cognito User Pool ID
USER_POOL_ID=""

## AWS Cognito User Pool App Client ID
USER_POOL_WEB_CLIENT_ID=""

## AWS Cognito Domain
OAUTH_DOMAIN=""

## Cognito redirect url after a successful sign-out
OAUTH_REDIRECT_SIGN_OUT="https://localhost:3000,https://umlcloudcomputing.org"

## Cognito setup, no need to change it!
OAUTH_REDIRECT_SIGN_RESPONSE_TYPE="code"

## OIDC Authority
AUTHORITY=""

## Client ID
CLIENT_ID=""

## Redirect URI
REDIRECT_URI=""

## Scope
SCOPE="email openid phone"